{% extends 'base.html.twig' %}

{% block title %}Контакты{% endblock %}


{% block body %}
<h4 class="display-4 mt-3">Контакты</h4>
<div class="container bg-info py-5">
    <div class="row d-flex mb-5">
		<div class="col-3 d-flex justify-content-center align-items-center">
      		<ion-icon name="logo-whatsapp" size="large"></ion-icon>
      	</div>
	    <div class="col-9 d-flex justify-content-center align-items-center">
			<h3 class="text-white font-weight-light m-0">+7 (911) 989-01-36</h3>
		</div>
	</div>
	<div class="row d-flex">
		<div class="col-3 d-flex justify-content-center align-items-center">
      		<ion-icon name="mail-outline" size="large"></ion-icon>
      	</div>		
		<div class="col-9 d-flex justify-content-center align-items-center">
			<h3 class="text-white font-weight-light m-0">sergeewic@yandex.ru</h3>
		</div>
	</div>	
</div>

<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
{% endblock %}
